body{
    height: 150vh;
}
.parent{
    height: 200px;
    background-color: pink;
    position: relative;
}

.child{
    width: 64px;
    height: 64px;
    background-color: aqua;
    position: fixed;
    right: 0;
    top: 0;

}